* {
	margin: 0;
	padding: 0;
}
body,
input,
button {
	font-family: "Poppins", sans-serif;
}

/* Style untuk Navigasi */
nav {
	display: flex;
	justify-content: space-between;
	height: 60px;
	flex-wrap: wrap;
}
.button {
	background-color: #89c3ff;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	padding: 6px 20px;
	height: 20px;
}
.title {
	color: #0a8754;
	font-weight: 800;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 6px 20px;
	margin-top: 40px;
	flex-wrap: wrap;
}
nav a:hover,
.button:hover {
	opacity: 0.5;
	/* background-color: black; */
}
nav h1 {
	margin-top: auto;
	font-size: 28px;
	font-weight: bold;
	padding-top: 10px;
}

.nav-link,
.sign-in {
	margin-top: auto;
	margin-bottom: 8px;
}

/* Akhir dari Nav */

/* Awal dari Banner */
.banner-container {
	width: 1000px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
}
.banner-image {
	background-image: url(../Asset/father-teaching-his-son-read-quran_1453-414.jpg);
	z-index: -1;
	width: 70%;
	position: relative;
	right: 50px;
	background-repeat: no-repeat;
}
.title-container {
	position: relative;
	margin-top: 70px;
	left: 50px;
	z-index: 1;
}
.title-container h2 {
	margin-bottom: 200px;
}
/* Akhir Banner */

/* Awal Event */
.event-container {
	width: 100%;
	height: 700px;
	background-color: #eeeded;
	display: block;
}
.header-event,
#ket-event {
	text-align: center;
}
.clear {
	width: 100%;
}
.section-container {
	width: 94%;
	height: 500px;
	display: block;
	margin: 0 auto;
	margin-left: 200px;
}
.section-event {
	display: inline-block;
	width: 300px;
	height: 100%;
	background-color: white;
	margin-top: 40px;
	margin-right: 40px;
}

.section-event img {
	display: block;
	width: 300px;
	margin: 10px auto;
}
.section-event h3 {
	text-align: center;
}
.section-event p {
	margin-left: 20px;
}
.section-event .button {
	display: block;
	margin: 0px 80px;
}

/* Masih bingung styling event nya, belum belajar flex box, mungkin belajar dlu baru bisa */
